.intro{
    background-image: url(http://41.media.tumblr.com/db27e195a5bea8583ae21aec0905ee5d/tumblr_nyqchogXHf1tf8vylo1_1280.png);
    background-size: cover;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}
#map {
        height: 500px;
        margin-bottom:20px;
       
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.mapContainer{
    position:relative;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
.star {
    font-size: x-large;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}
.result:before, .result:after {
    content: " ";
    display: table;
}
.result:after {
    clear: both; 
}
.result button{
  float:right;
}
.result .badge{
  float:right;
  margin-right: 10px;
  margin-top: 5px;
  background-color: green;
}